# =====================================
# Node.js Backend (gaia-gacha-backend)
# =====================================
/gaia-gacha-backend/node_modules/
/gaia-gacha-backend/.env

# =====================================
# Unity Frontend (gaia-gacha-frontend)
# =====================================
/gaia-gacha-frontend/[Ll]ibrary/
/gaia-gacha-frontend/[Tt]emp/
/gaia-gacha-frontend/[Oo]bj/
/gaia-gacha-frontend/[Bb]uilds/
/gaia-gacha-frontend/[Ll]ogs/
/gaia-gacha-frontend/[Uu]serSettings/

# --- TEXTMESH PRO LOCAL CONFIGS ---
/gaia-gacha-frontend/Assets/TextMesh Pro.meta

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local

# --- IDE & VISUAL STUDIO JUNK ---
**/*.csproj
**/*.sln
**/*.slnx
**/.vs/

# Ignore local VS Code workspaces, but DO NOT ignore team settings files
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/extensions.json

# =====================================
# macOS junk
# =====================================
**/.DS_Store